
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --emerald-600: #059669;
  --amber-500: #f59e0b;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8FAF9;
  overflow-x: hidden;
}

.font-urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
  line-height: 2.5 !important;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #059669;
  border-radius: 10px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes slide-left {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.animate-slide-left {
  animation: slide-left 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(-5%); }
  50% { transform: translateY(0); }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}
